body{
  margin: 0px;
  padding: 0px;
}

.row{
  width: 1113px;
  margin: auto;
  position: relative;
}

/* HEADER */
.header{
  display: flex;
}
.header__title{
  text-align: center;
  font-size: 70px;
  color: red;
}

.search{
  margin-bottom: 50px;
}

.search__input{
  font-size: 50px;
  width: 100%;
  line-height: 60px;
}

.pokemons{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 150px;
}

.pokemon{
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-bottom: 30px;
}
.pokemon__image{
  background: #F2F2F2;
  margin: 0;
  margin-bottom: 20px;
}
.pokemon__image img{
  width: 215px;
  height: 215px;
  /* background-image: url(../img/loading2.gif); */
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
}
.pokemon__numer{
  font-size: 14px;
  color: gray;
}
.pokemon__name{
  margin: 10px 0;
}
.pokemon__name h5{
  font-size: 30px;
  margin: 0;
  text-transform: capitalize;
}

@media screen and (max-width: 480px) {
  .pokemons{
    flex-direction: column;
    align-items: center;
  }
  .search{
    margin: 0px 20px;
  }
  .search__input {
    font-size: 18px;
    line-height: 18px;
  }
  .row{
    width: 100%;
  }
}

@media screen and (max-width: 1113px) {
  .row{
    width: 100%;
  }
}